/* https://www.sitepoint.com/building-list-jquery-local-storage/ */
// vars
@black     : #333;
@orange   : #F68320;
@grey     : #E8E8E8;
@white       : #F6F6F6;

@screen-sm:  768px;
@min-sm:   ~"only screen and (min-width:" @screen-sm ~")";

body {
  padding-top: 60px;
}

.input-group {
  margin-top: 8px;
}

.form-control[disabled], fieldset[disabled] .form-control {
  cursor: default;
  text-decoration: line-through;
}

@media @min-sm {
  // align center
  .navbar-header, .navbar-brand {
    width: 100%;
    text-align: center;
  }
}